.cloud-hosting {
  margin-top: 50px;
}

.cloud-hosting__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cloud-hosting__title {
  font-size: 56px;
  max-width: 800px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}

@media only screen and (max-width: 576px) {
  .cloud-hosting__title {
    font-size: 32px;
  }
}

.cloud-hosting__info {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  line-height: 120%;
  max-width: 800px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vps-table__wrapper {
  margin: 50px auto 300px;
  display: inline-block;
  overflow-x: auto;
  max-width: 900px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.vps-table__wrapper::-webkit-scrollbar {
  height: 3px;
}

.vps-table__wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.vps-table__wrapper::-webkit-scrollbar-thumb {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.vps-table {
  text-align: center;
  cursor: default;
}

.vps-table th, .vps-table tr {
  min-width: 200px;
}

.vps-table__header {
  font-family: "CircularStd Bold", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.vps-table__header th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px 20px 15px;
}

.vps-table__row {
  font-family: "CircularStd Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.vps-table__row:hover {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.vps-table__row:nth-child(even) {
  background-color: rgba(255, 192, 3, 0.05);
}

.vps-table__row:nth-child(odd) {
  background-color: rgba(255, 192, 3, 0.1);
}

.vps-table__row td {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
}

.vps-table__row td:last-child {
  border: none;
}
