@import './variables.scss';
@import './mixins.scss';

.cloud-hosting {
	margin-top: 50px;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	&__title {
		font-size: $heading-font-size;
		max-width: 800px;
		padding: 0;
		margin: 0;
		margin-bottom: 35px;

		@include media('max', 'sm') {
			font-size: $block-title-size;
		}
	}

	&__info {
		margin: 0;
		margin-bottom: 35px;
		padding: 0;
		line-height: 120%;
		max-width: 800px;
	}
}


.wrapper {
	display: flex;
}

.vps-table__wrapper {
	margin: 50px auto 300px;
	display: inline-block;

	overflow-x: auto;
	max-width: 900px;
	box-sizing: border-box;
	padding-top: 20px;


	&::-webkit-scrollbar {
		height: 3px;
	}
	 
	&::-webkit-scrollbar-track {
		box-shadow: none;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
	 
	&::-webkit-scrollbar-thumb {
		outline: none;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 10px;
	}
}

.vps-table {
	// margin: 50px auto;
	text-align: center;
	cursor: default;

	th, tr {
		min-width: 200px;
	}

	&__header {
		@include font-main-bold;
		font-size: $table-title-size;
		margin-bottom: 20px;

		th {
			box-sizing: border-box;
			padding: 10px 15px 20px 15px;
		}
	}

	&__row {
		@include font-main-medium;
		font-size: $table-element-size;
		cursor: pointer;
		transition: .1s ease-in-out;

		&:hover {
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
		}

		&:nth-child(even) {
			background-color: $row-even-color;
		}

		
		&:nth-child(odd) {
			background-color: $row-odd-color;
		}

		td {
			border-right: 1px solid rgba(0, 0, 0, 0.05);
			box-sizing: border-box;
			padding: 10px 15px;

			&:last-child {
				border: none;
			}
		}
	}
}

