@import './variables.scss';
@import './mixins.scss';


html, body {
	margin: 0;
	padding: 0;
	@include font-main-regular;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

.button {
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	text-align: center;
	align-items: center;
	padding: 15px 40px;
	box-sizing: border-box;

	@include font-main-regular;
	font-weight: 600;
	font-size: $button-fot-size;

	&-light {
		background-color: $leading-color;
	}

	&-dark {
		background-color: $dark-color;
		color: #fff;
		transition: .2s ease-in-out;

		&:hover {
			background-color: $leading-color;
			color: $dark-color;
		}
	}
}

