$leading-color: #103DBE;
$leading-color-hover: rgba(16, 61, 190, .1);
$support-primary-color: #0060C9;
$support-secondary-color: #004590; 
$unfocused-border-color: rgba(0, 0, 0, .2);
$primary-text-color-faded: rgba(0, 0, 0, .64);
$primary-text-color: rgba(0, 0, 0, 1);

$regular: 'gilroyregular', sans-serif;
$medium: 'gilroymedium', sans-serif;
$semibold: 'gilroysemibold', sans-serif;
$bold: 'gilroybold', sans-serif;

$card-title-size: 24px;
$block-title-size: 24px;
$summary-title-size: 20px;
$price-badge-size: 20px;
$button-title-size: 20px;
$field-title-size: 22px;
$template-title-size: 22px;


$small-text-size: 13px;
$regular-sm-text-size: 16px;
$regular-text-size: 18px;

$large-sm-text-size: 28px;
$large-text-size: 32px;


