$leading-color: #FFC003;
$dark-color: #000000;

// Fonts
$main-regular: 'CircularStd Regular', sans-serif;
$main-medium: 'CircularStd Medium', sans-serif;
$main-bold: 'CircularStd Bold', sans-serif;
$additional: 'Inter', sans-serif;

// Sizes
$heading-font-size: 56px;
$regular-font-size: 16px;

// Configurator design
$block-title-size: 32px;
$block-hint-size: 16px;

$block-element-size: 19.2px;
$block-details-size: 16px;
$block-numbers-size: 12px;

// Table design
$table-title-size: 24px;
$table-element-size: 16px;